# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea

# Misc
# assets/js/dist

# private study
_private

_posts/2025-04-13-컴퓨터의 이해 중간과제.md